// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$bg: #F3F2F3;
$bg2: #FFF3E3;
$bg3: #fdefd8;
$textBlack: #000;
$textGray: #7c7c7c;
$main: #ffbd5c;
$borderColor: rgba(0, 0, 0, 0.035);


$font1: 'Poppins', sans-serif;;

$headerHeight: 50px;

$shadow: 0 2px 7px rgba(2, 9, 24, 0.14);
$shadowHover: 0 2px 7px rgba(2, 9, 44, 0.35);

