// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$bg: #F3F2F3;
$bg2: #FFF3E3;
$textBlack: #000;
$textGray: #7c7c7c;
$main: #ffbd5c;

$font1: 'Poppins', sans-serif;;

$headerHeight: 50px;

